#header-nav {
	text-align: left;
}

.navbar-brand {
     text-transform: uppercase;
     font-size: 1.7em ;    
     margin-top: 15px ;
     text-shadow: 2px solid ;
     font-weight: bold ;
      
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar {
	border: 1px solid 
}

.main-content  {
	box-sizing: border-box;
	background-color: grey ;
	margin: 15px ;
	padding: 15px ;
	padding-top: 5px ;
	text-shadow: 2px ;
	font: bold;

}

h1 {
	font-size: 2em ;
}

h2 {
	margin-top: 5px;
	padding-top: 0px;
}
